<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ошибка</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="container ">
<div class="card error-container">
  <div class="error-message">
    Что-то пошло не так.<br>
    Пожалуйста, вернитесь на стартовую страницу!
  </div>
  <a th:href="@{/login}" class="btn btn-primary">Выйти</a>
  <img src="/css/errorleaf.png" alt="Росток" class="error-leaf">
</div>
</body>
</html>